@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Lato:wght@400;700&display=swap');

body{
    width: 100%;
    height: 100%;
    background: black;
}
.tudo{
    position:left;
    overflow:auto;
    position: relative;
}

/*header*/

.headerDiv{
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 2rem;
    height: auto;
}
.gtaGoTechApple{
    color: #DBDBDB;
    font-size: 1rem;
    margin-left: 1rem;
    font-family: 'Krona One';
    font-weight: 400px;
    word-wrap: break-word;
}
@media screen and (min-width:490px){
    .gtaGoTechApple{
        font-size: 150%;
    }
    .logo{
        width: 3rem;
        height: auto;
    }
}
@media screen and (min-width:650px){
    .gtaGoTechApple{
        font-size: 200%;
    }
    .logo{
        width: 4rem;
        height: auto;
    }
}
@media screen and (min-width:880px){
    .gtaGoTechApple{
        font-size: 300%;
    }
}

/*bem-vindo*/

.bemVindoDiv{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.linhaBemVindo1{
    width: 90%;
    border: 1px #7B0424 solid;
}
.bemVindo{
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #DBDBDB;
    font-size: 120%;
    font-family: 'Lato';
    font-weight: 700px;
    word-wrap: break-word;
}
.linhaBemVindo2{
    width: 90%;
    border: 1px #7B0424 solid;
    margin-bottom: 1rem;
}
@media screen and (min-width:490px){
    .bemVindo{
        font-size: 150%;
    }
}
@media screen and (min-width:990px){
    .bemVindo{
        font-size: 190%;
    }
}

/*imagens carrosel*/

.slider{
    margin: 0 auto;
    width: 100%;
    height: 60%;
    overflow: hidden;
}
.slides{
    width: 400%;
    height: 60%;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 25%;
    position: relative;
}
.slide img{
    width: 100%;
}
.manual-navigation{
    padding-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.manual-btn{
    border: 2px solid #7B0424;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 1rem;
}
.manual-btn:hover{
    background-color: #7B0424;
}
#radio1:checked~.first{
    margin-left: 0;
}
#radio2:checked~.first{
    margin-left: -25%;
}
#radio3:checked~.first{
    margin-left: -50%;
}
#radio4:checked~.first{
    margin-left: -75%;
}
.navigation-auto div{
    border: 2px solid #7B0424;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navigation-auto{
    display: flex;
    justify-content: center;
    width: 100%;
    display: none;
}
.navigation-auto div:not(:last-child){
    margin-right: 1rem;
}
#radio1:checked~.navigation-auto .auto-btn1{
    background-color: #7B0424;
}
#radio2:checked~.navigation-auto .auto-btn2{
    background-color: #7B0424;
}
#radio3:checked~.navigation-auto .auto-btn3{
    background-color: #7B0424;
}
#radio4:checked~.navigation-auto .auto-btn4{
    background-color: #7B0424;
}
@media screen and (min-width:490px){
    .slider{
        width: 70%;
    }
}
@media screen and (min-width:650px){
    .slider{
        width: 50%;
    }
}
@media screen and (min-width:1000px){
    .slider{
        width: 30%;
    }
}

/*resto carrosel*/

.linhaDiv{
    margin-top: 1rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.linhaFinalCarrosel{
    width: 90%;
    border: 1px #7B0424 solid;
}

/*textos*/

.textosDiv{
    padding: 1rem 2rem;
}
.textos{
    padding-bottom: 1rem;
    padding-left: 4%;
    color: #DBDBDB;
    font-size: 1rem;
    font-family: 'Lato';
    font-weight: 400px;
    word-wrap: break-word;
    max-width: 1300px;
}

/*lateral*/

.coisaVermelha{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.svgETexto{
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.icons{
    width: 1rem;
    height: 1rem;
}
.linha1{
    border: 1px #7B0424 solid;
    margin-top: 1rem;
    height: 200%;
}
.linha2{
    border: 1px #7B0424 solid;
    margin-top: 1rem;
    height: 200%;
}
.linha3{
    border: 1px #7B0424 solid;
    margin-top: 1rem;
    height: 200%;
}
.linha4{
    border: 1px #7B0424 solid;
    margin-top: 1rem;
    height: 200%;
}
.linha5{
    border: 1px #7B0424 solid;
    margin-top: 1rem;
    height: 200%;
}
.linha6{
    border: 1px #7B0424 solid;
    margin-top: 1rem;
    height: 200%;
}

/*texto e lateral*/

.containerDiv{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
@media screen and (min-width:500px){
    .textos{
        font-size: 130%;
    }
    .icons{
        width: 2rem;
        height: 2rem;
    }
    .textos{
        padding-bottom: 2rem;
        padding-left: 2%;
    }
}
@media screen and (min-width:990px){
    .textos{
        font-size: 160%;
        padding-bottom: 3rem;
    }
}

/*aplicativos*/

.aplicativosDiv{
    position: fixed;
    top: 90%;
    left: 85%;
    z-index: 99;
    transition: all .5s;
    display: flex;
    flex-direction: column;
}
.whatsapp{
    width: 2rem;
    height: 2rem;
}
.instagram{
    width: 2rem;
    height: 2rem;
}
@media screen and (min-width:410px){
    .whatsapp{
        width: 3rem;
        height: 3rem;
    }
    .instagram{
        width: 3rem;
        height: 3rem;
    }
    .aplicativosDiv{
        top: 85%;
        left: 85%;
    }
}
@media screen and (min-width:570px){
    .aplicativosDiv{
        left: 88%;
    }
}
@media screen and (min-width:690px){
    .whatsapp{
        width: 4rem;
        height: 4rem;
        padding-bottom: 1rem;
    }
    .instagram{
        width: 4rem;
        height: 4rem;
    }
    .aplicativosDiv{
        top: 80%;
    }
}
@media screen and (min-width:940px){
    .aplicativosDiv{
        left: 92%;
    }
}
@media screen and (min-width:1400px){
    .whatsapp{
        width: 5rem;
        height: 5rem;
    }
    .instagram{
        width: 5rem;
        height: 5rem;
    }
    .aplicativosDiv{
        top: 75%;
    }
}

/*rodapé*/

.rodapeDiv{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.linhaRodape{
    width: 90%;
    border: 1px #7B0424 solid;
}
.fraseRodape{
    padding: 2rem 1rem;
    text-align: center;
    color: #DBDBDB;
    font-size: 1rem;
    font-family: 'Lato';
    font-weight: 400px;
    word-wrap: break-word;
}
@media screen and (min-width:490px){
    .fraseRodape{
        font-size: 130%;
    }
}
@media screen and (min-width:990px){
    .fraseRodape{
        font-size: 160%;
    }
}